/*@media only screen and (max-width: 455px)
{
  body{
     background-color: blue;
   }
}*/
body {
    margin: 2px;
    padding: 2px;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    
    margin: 35px;
    text-align: left;
}

h1 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: rgb(154, 154, 27);
    text-align: right;
}

ul {
    background-color: rgb(205, 194, 215);
}

ul li {
    font-size: 25px;
    width: 225px;
    background-color: gray;
    display: inline-block;
    padding: 10px;
    /*visibility: hidden;*/
    text-decoration: underline;
    border: 2px solid black;
    text-align: center;
    /* filter: blur(4px); */
    /* animation: abrarkaanimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: o.1s;
    animation-direction: alternate-reverse; */
}

ul li:hover {
    background-color: rgb(232, 239, 232);
    color: rgb(224, 208, 208);
    padding-left: 15px;
    transition: 0.8s;
}

a {
    color: rgb(43, 42, 35);
}

/*div{
    display: inline-flex;
    border: 2px solid black;
    padding: 44px;
    margin-top: 30px;
    text-shadow: 50px 50px 15px  gray;
    box-shadow: 5px 5px 15px 5px rgb(99, 87, 87);
}
*/
.card {
    background-color: white;
    border: 3px solid gray;
    width: 350px;
    height: 650px;
    margin: 10px;
    border-radius: 20px;
    padding: 6px;
    animation: abrarkaanimation;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-delay: o.1s;
    animation-direction: alternate-reverse;
    animation-fill-mode: backwards;
}

img {
    margin: 3px;
    width: 345px;
    height: 300px;
    border-radius: 10px;
    filter: brightness(100%);
    filter: grayscale(100%);
}

.nat {
    border: 2px solid purple;
    margin: 30px;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 2px 2px 10px 5px red;
}

.lak {
    border: 2px solid purple;
    margin: 25px;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 2px 2px 10px 5px red;

}

p {
    margin: 3px;
    padding: 5px;
    text-align: justify;
}

h1 {
    padding-left: 10px;
    position: relative;
}

.mou {
    border: 2px solid purple;
    margin: 30px;
    border-radius: 6px;
    padding: 3px;
    box-shadow: 2px 2px 10px 5px red;
}

.read {
    text-align: center;
    margin-top: 10px;
}

/* button {
    background-color: aqua;
    border-radius: 5px;
    color: rgb(208, 33, 44);
    cursor: pointer;
} */

#avi {
    background-color: gray;

}

span:hover {
    background-color: rgb(108, 35, 5);
    transition: 0.8s;
    color: white;
    border: 2px solid rgb(90, 19, 222);
}

/* button:hover {
    background-color: rgb(165, 106, 18);
    transition: 0.8s;
    color: white;
} */

.container {
    display: flex;
    border: 2px solid black;
    height: 400px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: scroll;
    flex-wrap: wrap;
    gap: 40px;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px solid blue;
    background-color: brown;
    text-align: center;
    align-content: center;
    flex-grow: 1px;
    box-shadow: 2px 2px 5px 5px gray;
    border-radius: 20px;
    transform: rotateX(0deg) rotateY(50deg) rotateZ(30deg);
    /* transform: scale(2); */
    transform: translateY(80px);
    /* animation: abrarkaanimation;
    animation-duration: 3s; */
}
.box:hover {
    box-shadow: 2px 3px 10px 5px burlywood;
    border: 5px solid black;
    background-color: cornflowerblue;
    transition: all 2s ease-in-out;
    border-radius: 50%;
}

@keyframes abrarkaanimation {
    from {
        background-color: blue;
    }

    to {
        transform: translateX(72vw);
        background-color: chartreuse;
    }

}